:root {
	--body-font: "Bai Jamjuree", sans-serif;
	--heading-font: "Bai Jamjuree", sans-serif;
	--h1-size: 40px;
	--h1-height: 4rem;
	--h2-size: 34px;
	--h2-height: 3.5rem;
	--h3-size: 26px;
	--h4-size: 22px;
	--h5-size: 24px;
	--h6-size: 22px;
	--subtitle-size: 17px;
	--subtitle-height: 26px;
	--p-size: 18px;
	--p-height: 26px;
	--secondary-text-size: 14px;
	--secondary-text-height: 18px;
	--button-size: 18px;

	/* SPACING VARIABLES */
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 32px;
	--spacing-xl: 64px;
	--standard-width: 1440px;
	--section-width: 1144px;

	/* Primary  */
	--strong-cyan: hsl(171, 66%, 44%);
	--light-blue: hsl(233, 100%, 69%);

	/* Neutral */
	--dark-grayish-blue: hsl(210, 10%, 33%);
	--grayish-blue: hsl(201, 11%, 66%);
	--white: #fff;
}

/* Layout Styles  */
.section-container {
	width: 100%;
	max-width: var(--section-width);
}

.one-column {
	width: 80%;
	margin: var(--spacing-xl) auto var(--spacing-xl) auto;
	padding: 0 var(--spacing-xl) 0 var(--spacing-xl);
	/* border: 1px solid purple; */
}

.one-column > p {
	text-align: center;
}

.two-column {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 115px;
	/* border: 1px solid blue; */
}

.two-column > .col-left {
	max-width: 50%;
	padding: 0 var(--spacing-md) 0 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	/* border: 4px solid green; */
}

.two-column > .col-right {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	padding: 0 var(--spacing-md) 0 0;
	/* border: 1px solid red; */
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: var(--spacing-sm) var(--spacing-md) 0 var(--spacing-md);
	/* border: 1px solid orange; */
}

.card .workflow-icon {
	height: 40px;
	margin: 0 0 var(--spacing-sm) 0;
}

.card h3 {
	font-family: var(--heading-font);
	font-weight: bold;
	font-size: var(--h6-size);
	margin: 0 0 var(--spacing-md) 0;
	width: 100%;
}

.card .secondary-text {
	text-align: center;
	font-size: var(--secondary-text-size);
}

.footer-section-container {
	width: 100%;
	max-width: var(--section-width);
}

.footer-two-column {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid blue;
}

/* General styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	font-size: var(--p-size);
	color: var(--grayish-blue);
	height: 100vh;
	margin: var(--spacing-xl) auto;
	padding: var(--spacing-xl);
	max-width: var(--standard-width);
	text-align: center;
	background-color: lightgray;
}

main {
	width: 100%;
	background-color: var(--white);
	padding: calc(var(--spacing-xl) * 2);
	overflow: hidden;
}

footer {
	background-color: rgb(223, 222, 222);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	color: var(--dark-grayish-blue);
	font-family: var(--heading-font);
	font-weight: 600;
	font-size: var(--h1-size);
	margin: var(--spacing-md) 0;
	width: 100%;
	line-height: var(--h1-height);
}

h2 {
	font-family: var(--heading-font);
	font-weight: 600;
	color: var(--dark-grayish-blue);
	font-size: var(--h2-size);
	margin: 0;
	width: 100%;
	letter-spacing: 1px;
	padding: 0 0 var(--spacing-md) 0;
}

h3 {
	font-family: var(--heading-font);
	font-weight: 600;
	color: var(--dark-grayish-blue);

	font-size: var(--h3-size);
	margin: 0;
	width: 100%;
}

/* BUTTON STYLES */
.primary-button {
	font-family: var(--body-font);
	font-size: var(--button-size);
	letter-spacing: 1.25px;
	font-weight: 600;
	border: 1px solid var(--strong-cyan);
	border-radius: 40px;
	background-color: var(--strong-cyan);
	color: var(--white);
	padding: var(--spacing-md) var(--spacing-lg);
	margin: var(--spacing-xl) var(--spacing-sm);
	box-shadow: 0px 14px 22px 0px rgba(38, 186, 164, 0.3);
	transition: all 0.15s ease;
}

.primary-button:hover {
	cursor: pointer;
	opacity: 80%;
}

.Mac {
	background-color: var(--light-blue);
	border: 1px solid var(--light-blue);

	color: var(--white);
	box-shadow: 0px 14px 22px 0px rgba(97, 115, 255, 0.3);
	transition: all 0.15s ease;
}

main {
	background-image: url("images/bg-header-desktop.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-x: left;
	background-position-y: top;
}

/* HERO SECTION */
.hero-section p {
	padding: 0 45px 0 45px;
}

.hero-section .hero-logo {
	margin: 0 0 var(--spacing-lg) 0;
}

/* FEATURES SECTION */
.features-section h2 {
	margin-top: var(--spacing-xl) 0;
}

.features-section .section-container .two-column h3 {
	font-weight: 600;
	text-align: left;
	padding: 0 0 var(--spacing-md) 0;
}

.features-section .section-container .two-column,
.col-right p {
	text-align: left;
	line-height: var(--p-height);
	padding: 0 0 var(--spacing-lg) 0;
}

.features-section .two-column {
	margin: var(--spacing-xl) 0;
}

.features-section .two-column .imac-image {
	width: auto;
	height: 100%;
	position: relative;
	left: -230px;
	/* border: 1px solid black; */
}

/* SUPERCHARGE CARD SECTION */
.section-container .card-container {
	display: flex;
	margin: var(--spacing-xl) 0;
}

.section-container .card-container .card {
	width: 33%;
	/* padding: 0 var(--spacing-sm) 0 0; */
	/* margin: 0 var(--spacing-md) 0 0; */
	text-align: center;
}

.section-container .card-container .card .workflow-icon {
	margin: 0 0 var(--spacing-lg) 0;
}

/* PARTNERS LOGOS */
.partners-section .partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid brown; */
	margin: calc(var(--spacing-xl) * 2) 0;
}

/* DOWNLOAD SECTION */
.download > .one-column {
	margin-bottom: var(--spacing-lg);
}

.download > .primary-button {
	/* border: 1px solid green; */
	margin-top: 0;
}

/* FOOTER SECTION */
.footer-section .footer-section-container {
	padding: var(--spacing-lg) 0;
	display: flex;
}

.footer-section .col {
	width: 20%;
}

.col-1,
.col-5 {
	display: flex;
	align-items: center;
}

.col-5 {
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.col-5 .social-logos {
	width: 100%;
	display: flex;
	/* border: 1px solid darkmagenta; */
}

.social-logos img {
	padding-left: var(--spacing-lg);
}

footer .footer-logo {
	height: 45px;
	width: 45px;
	margin-right: calc(var(--spacing-xl) * 2);
	/* border: 1px solid black; */
}

footer ul {
	list-style: none;
	text-align: left;
	/* border: 1px solid black; */
}

footer ul li {
	margin: 0 0 var(--spacing-sm) 0;
}
